<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="TcpStreamingBinding"
                         transferMode="Streamed"
                         maxReceivedMessageSize="104857600"
                         maxBufferSize="65536" />
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint
                name="ConsumptionServiceEndpoint"
                address="net.tcp://localhost:4002/ConsumptionService"
                binding="netTcpBinding"
                bindingConfiguration="TcpStreamingBinding"
                contract="Common.Contracts.IConsumptionService" />
		</client>
	</system.serviceModel>
	<appSettings>
		<add key="CsvPath" value="time_series_15min_singleindex.csv" />
		<add key="CountryCode" value="DE" />
		<add key="SelectedDate" value="2015-01-01" />
		<add key="BatchSize" value="16" />
	</appSettings>
</configuration>