<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="tcpBindingConfig"
						 transferMode="Streamed"
						 maxReceivedMessageSize="67108864"
						 maxBufferSize="65536"
						 maxBufferPoolSize="524288">
					<readerQuotas
						maxDepth="64"
						maxStringContentLength="67108864"
						maxArrayLength="67108864"
						maxBytesPerRead="4096"
						maxNameTableCharCount="16384" />
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint
			  address="net.tcp://localhost:9000/ConsumptionService"
			  binding="netTcpBinding"
			  bindingConfiguration="tcpBindingConfig"
			  contract="Common.Contracts.IConsumptionService"
			  name="ConsumptionService"/>
		</client>
	</system.serviceModel>
</configuration>