<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="TcpStreamingBinding"
                         transferMode="Streamed"
                         maxReceivedMessageSize="104857600"
                         maxBufferSize="65536" />
			</netTcpBinding>
		</bindings>
		<services>
			<service name="Server.Services.ConsumptionService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4002/" />
					</baseAddresses>
				</host>
				<endpoint
                    address="ConsumptionService"
                    binding="netTcpBinding"
                    bindingConfiguration="TcpStreamingBinding"
                    contract="Common.Contracts.IConsumptionService" />
			</service>
		</services>
	</system.serviceModel>
</configuration>